################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/PROJECT_1_HOTEL/v16
/PROJECT_1_HOTEL.sln
/PROJECT_1_HOTEL.vcxproj
/PROJECT_1_HOTEL.vcxproj.filters
/PROJECT_1_HOTEL.vcxproj.user
/x64/Debug
/period.txt
