################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PROJECT_1_HOTEL/v16
/Debug
